<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE xml>
<configuration>
       <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
             <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>
                           %d{yyyy-MM-dd HH:mm:ss} ALEXANDRA %-5level %logger{36} - %msg%n
                    </Pattern>
             </layout>
       </appender>
      
       <appender name="ALEXANDRAAuditLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
       		<file>${catalina.base}/logs/Alexadra/Alexandra.log</file>
             <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <charset>UTF-8</charset>
                    <Pattern>
                           %d{yyyy-MM-dd HH:mm:ss} ALEXANDRA %-5level %logger{36} - %msg%n
                    </Pattern>
             </encoder>
 
             <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
             <FileNamePattern>${catalina.base}/logs/Alexadra/archived/Alexadra.%d{yyyyy-MM}.%i.log</FileNamePattern>
                    <maxFileSize>10MB</maxFileSize>
             </rollingPolicy>
       </appender>
 
       <logger name="com.prestonsproductions.alexandra" level="info" additivity="false">
             <appender-ref ref="ALEXANDRAAuditLog" />
             <appender-ref ref="STDOUT" />
       </logger>   
       <logger name="org.hibernate" level="info" additivity="false">
             <appender-ref ref="ALEXANDRAAuditLog" />
             <appender-ref ref="STDOUT" />
       </logger>
       <root level="error">
             <appender-ref ref="ALEXANDRAAuditLog" />
             <appender-ref ref="STDOUT" />
       </root>
 
</configuration>